/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/.framgia-ci-reports
/public/assets
/database/migrations
composer.json
composer.lock
mix-manifest.json

